<div ng-controller="FundsCtrl as funds">
  <div class="search">
    <input ng-model="searchFund" name="search" placeholder="Search Fund Name or ISIN">
  </div>

  <div ng-repeat="fund in funds  | filter:searchFund" class="fund">
    <div>
      <h3><a href="#">{{ fund["name"] }}</a></h3>
      <h5>{{ fund["Fund Type Taxonomy Id"] }}</h5>
      
      <select 
        ng-model="shareClass"
        ng-init="shareClass = fund['shareClasses'][0]"
        ng-options="class['Short Name'] for class in fund['shareClasses']">
      </select>

      {{ shareClass }}
    </div>

    <div class="col-3">
      <div class="left">
        <div>
          <div>Currency</div>
          <div>{{ fund["Fund Size Currency Code"] }}</div>
        </div>  
        <div>
          <div>ISIN</div>
          <div>{{ shareClass["ISIN Code"] }}</div>
        </div>  
        <div>
          <div>Asset Class</div>
          <div>{{ fund["Asset Class Taxonomy Id"] }}</div>
        </div>  
        <div>
          <div>Region</div>
          <div>{{ fund["Region Taxonomy Id"] }}</div>
        </div>  
      </div>
      <div class="middle">
        <div>
          <div>Launch Date</div>
          <div>{{ shareClass["Launch Date"] | convertUSDate }}</div>
        </div>
        <div>
          <div>Fund Size</div>
          <div>{{ fund["NAV Base"] | currency }}</div>
        </div>
        <div>
          <div>MorningStar</div>
          <div>{{ shareClass["Morningstar - SRRI Track Risk Rating"] }}</div>
        </div>
      </div>
      <div class="right">
       <div>
          <div>Yield</div>
          <div>{{ shareClass["Yield Current"] }}</div>
        </div>
        <div>
          <div>Date</div>
          <div>{{ shareClass["Total Return DateTime"] | convertDate }}</div>
        </div>
        <div>
          <div>NAV</div>
          <div>{{ shareClass["NAV Base"] }}</div>
        </div>
      </div>

    </div>
  </div>
</div>
